In [1]:
#Importing dependecies 
import time
import pandas as pd
import numpy as np
import requests as req
import json
import matplotlib as plt 
import openweathermapy.core as owm
from config import api_key
import seaborn as sns 
from citipy import citipy

In [2]:
# Open Weathermap API Key 
owkey = "f20c07a3cdc97c14e48c7167d623898b"
# Google Maps API Key 
# gkey = "AIzaSyDAVk_JHRsVV8rnyvELr0llXo9ORVGcTwM"
# print (gkey)

In [3]:
#build a dataframe to hold lat and log values
locations_df = pd.DataFrame()

# create var to hold the random lat and log values 

locations_df['rand_lat'] = [np.random.uniform(-90,90) for x in range(59)]
locations_df['rand_lng'] = [np.random.uniform(-180, 180) for x in range(59)]

locations_df.tail()

     rand_lat    rand_lng
54 -18.847809  -83.995004
55  -3.087036  -87.082314
56 -14.040624   26.580268
57  31.145418   84.027667
58 -40.603085 -142.145621

In [4]:
# add closest city and country column
locations_df['closest_city'] = ""
locations_df['country'] = ""

#find and add closest city and country code
for index, row in locations_df.iterrows():
    lat = row['rand_lat']
    lng = row['rand_lng']
    locations_df.set_value(index, 'closest_city', citipy.nearest_city(lat, lng).city_name)
    locations_df.set_value(index, 'country', citipy.nearest_city(lat, lng).country_code)

/Users/rafaelnunez/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  if __name__ == '__main__':
/Users/rafaelnunez/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:10: FutureWarning: set_value is deprecated and will be removed in a future release. Please use .at[] or .iat[] accessors instead
  # Remove the CWD from sys.path while we load stuff.

In [5]:
# delete repeated cities and find unique city count
locations_df = locations_df.drop_duplicates(['closest_city', 'country'])
locations_df = locations_df.dropna()
len(locations_df['closest_city'].value_counts())

48

In [6]:
#preview data
locations_df.tail()

     rand_lat    rand_lng   closest_city country
53  51.277094   55.170592     sol-iletsk      ru
55  -3.087036  -87.082314  san cristobal      ec
56 -14.040624   26.580268        kasempa      zm
57  31.145418   84.027667          jumla      np
58 -40.603085 -142.145621        mataura      pf

In [7]:
#cleaning and formating the columns 
locations_df = locations_df.rename(columns = {'closest_city': 'city'})
locations_df=locations_df[['city', 'country']]
locations_df.head()

        city country
0      bluff      nz
1     albany      au
2  busselton      au
3  cape town      za
4        eyl      so

In [11]:
#create columns for Latitude, Longitud ,Humitity , Wind Speed, Cloudiness

locations_df['Cloudiness (%)'] = ""
locations_df['Humidity (%)'] = ""
locations_df['Wind Speed (%)'] = ""
locations_df['Temperature (F)']=""
locations_df['Latitude']=""
locations_df['Longitude']=""
locations_df.tail()

,city,country,Cloudiness (%),Humidity (%),Wind Speed (%),Temperature (F),Latitude,Longitude
53,sol-iletsk,ru,,,,,,
55,san cristobal,ec,,,,,,
56,kasempa,zm,,,,,,
57,jumla,np,,,,,,
58,mataura,pf,,,,,,

In [12]:
# Accessing data
print("Beginning Data Retrieval")
print("---------------------------------")

# Limiting pull requests
start_time = time.time()

for index, row in locations_df.iterrows():
   # Building target url
   url = "http://api.openweathermap.org/data/2.5/weather?q=%s,%s&units=imperial&appid=%s" % (row['city'],
                                                                                             row['country'], owkey)
   # Printing to ensure loop is correct
   print("Now retrieving City #" + str(index) + ": " + row['city'] + ", " + row['country'])
   print(url)
   
   # Running request
   weather_data = req.get(url).json()
   
   try:
       # Appending latitude and longitude to correct location
       locations_df['Latitude'] = weather_data['coord']['lat']
       locations_df['Longitude'] = weather_data['coord']['lon']
   
       # Appending temperature to correct location
       locations_df['Temperature (F)'] = weather_data['main']['temp']
   
#        # Appending humidity to correct location
#        row['Humidity (%)'] = weather_data['main']['humidity']
   
#        # Appending cloudiness to correct location
#        row['Cloudiness (%)'] = weather_data['clouds']['all']
   
#        # Appending wind speed to correct location
#        row['Wind Speed (mph)'] = weather_data['wind']['speed']
   except:
       print("Error with city data. Skipping")
       continue
       
   # Pausing to limit pull requests
   if (index + 1) % 60 == 0:
       run_time = time.time() - start_time
       time.sleep(60 - run_time)
       start_time = time.time()
   
print("---------------------------------")
print("Data Retrieval Complete")
print("---------------------------------")

Beginning Data Retrieval
---------------------------------
Now retrieving City #0: bluff, nz
http://api.openweathermap.org/data/2.5/weather?q=bluff,nz&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #1: albany, au
http://api.openweathermap.org/data/2.5/weather?q=albany,au&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #2: busselton, au
http://api.openweathermap.org/data/2.5/weather?q=busselton,au&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #3: cape town, za
http://api.openweathermap.org/data/2.5/weather?q=cape town,za&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #4: eyl, so
http://api.openweathermap.org/data/2.5/weather?q=eyl,so&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #5: rikitea, pf
http://api.openweathermap.org/data/2.5/weather?q=rikitea,pf&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #6: cockburn town, tc
http://api.openweathermap.org/data/2.5/weather?q=cockburn town,tc&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #7: raudeberg, no
http://api.openweathermap.org/data/2.5/weather?q=raudeberg,no&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #8: pisco, pe
http://api.openweathermap.org/data/2.5/weather?q=pisco,pe&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #9: methoni, gr
http://api.openweathermap.org/data/2.5/weather?q=methoni,gr&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #10: lorengau, pg
http://api.openweathermap.org/data/2.5/weather?q=lorengau,pg&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #11: norman wells, ca
http://api.openweathermap.org/data/2.5/weather?q=norman wells,ca&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #12: ushuaia, ar
http://api.openweathermap.org/data/2.5/weather?q=ushuaia,ar&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #13: mys shmidta, ru
http://api.openweathermap.org/data/2.5/weather?q=mys shmidta,ru&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Error with city data. Skipping
Now retrieving City #14: hambantota, lk
http://api.openweathermap.org/data/2.5/weather?q=hambantota,lk&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #15: taolanaro, mg
http://api.openweathermap.org/data/2.5/weather?q=taolanaro,mg&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Error with city data. Skipping
Now retrieving City #16: marcona, pe
http://api.openweathermap.org/data/2.5/weather?q=marcona,pe&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Error with city data. Skipping
Now retrieving City #17: newcastle, za
http://api.openweathermap.org/data/2.5/weather?q=newcastle,za&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #18: boo, se
http://api.openweathermap.org/data/2.5/weather?q=boo,se&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #19: east london, za
http://api.openweathermap.org/data/2.5/weather?q=east london,za&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #20: nizhneyansk, ru
http://api.openweathermap.org/data/2.5/weather?q=nizhneyansk,ru&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Error with city data. Skipping
Now retrieving City #21: eirunepe, br
http://api.openweathermap.org/data/2.5/weather?q=eirunepe,br&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #25: atambua, id
http://api.openweathermap.org/data/2.5/weather?q=atambua,id&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #27: wuning, cn
http://api.openweathermap.org/data/2.5/weather?q=wuning,cn&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #28: xihua, cn
http://api.openweathermap.org/data/2.5/weather?q=xihua,cn&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #30: upernavik, gl
http://api.openweathermap.org/data/2.5/weather?q=upernavik,gl&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #31: malanville, bj
http://api.openweathermap.org/data/2.5/weather?q=malanville,bj&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #32: severo-kurilsk, ru
http://api.openweathermap.org/data/2.5/weather?q=severo-kurilsk,ru&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #34: ribeira grande, pt
http://api.openweathermap.org/data/2.5/weather?q=ribeira grande,pt&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #35: garoua, cm
http://api.openweathermap.org/data/2.5/weather?q=garoua,cm&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #36: nome, us
http://api.openweathermap.org/data/2.5/weather?q=nome,us&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #37: narsaq, gl
http://api.openweathermap.org/data/2.5/weather?q=narsaq,gl&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #39: coquimbo, cl
http://api.openweathermap.org/data/2.5/weather?q=coquimbo,cl&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #40: hobart, au
http://api.openweathermap.org/data/2.5/weather?q=hobart,au&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #41: yellowknife, ca
http://api.openweathermap.org/data/2.5/weather?q=yellowknife,ca&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #43: belushya guba, ru
http://api.openweathermap.org/data/2.5/weather?q=belushya guba,ru&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Error with city data. Skipping
Now retrieving City #44: punta arenas, cl
http://api.openweathermap.org/data/2.5/weather?q=punta arenas,cl&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #45: nikolskoye, ru
http://api.openweathermap.org/data/2.5/weather?q=nikolskoye,ru&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #46: katsuura, jp
http://api.openweathermap.org/data/2.5/weather?q=katsuura,jp&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #47: jijiga, et
http://api.openweathermap.org/data/2.5/weather?q=jijiga,et&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #50: saint george, bm
http://api.openweathermap.org/data/2.5/weather?q=saint george,bm&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #51: amderma, ru
http://api.openweathermap.org/data/2.5/weather?q=amderma,ru&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Error with city data. Skipping
Now retrieving City #52: jamestown, sh
http://api.openweathermap.org/data/2.5/weather?q=jamestown,sh&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #53: sol-iletsk, ru
http://api.openweathermap.org/data/2.5/weather?q=sol-iletsk,ru&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #55: san cristobal, ec
http://api.openweathermap.org/data/2.5/weather?q=san cristobal,ec&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #56: kasempa, zm
http://api.openweathermap.org/data/2.5/weather?q=kasempa,zm&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #57: jumla, np
http://api.openweathermap.org/data/2.5/weather?q=jumla,np&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Now retrieving City #58: mataura, pf
http://api.openweathermap.org/data/2.5/weather?q=mataura,pf&units=imperial&appid=f20c07a3cdc97c14e48c7167d623898b
Error with city data. Skipping
---------------------------------
Data Retrieval Complete
---------------------------------

{'cod': '404', 'message': 'city not found'}

In [13]:
locations_df

,city,country,Cloudiness (%),Humidity (%),Wind Speed (%),Temperature (F),Latitude,Longitude
0,bluff,nz,,,,37.33,29.28,82.18
1,albany,au,,,,37.33,29.28,82.18
2,busselton,au,,,,37.33,29.28,82.18
3,cape town,za,,,,37.33,29.28,82.18
4,eyl,so,,,,37.33,29.28,82.18
5,rikitea,pf,,,,37.33,29.28,82.18
6,cockburn town,tc,,,,37.33,29.28,82.18
7,raudeberg,no,,,,37.33,29.28,82.18
8,pisco,pe,,,,37.33,29.28,82.18
9,methoni,gr,,,,37.33,29.28,82.18
10,lorengau,pg,,,,37.33,29.28,82.18
11,norman wells,ca,,,,37.33,29.28,82.18
12,ushuaia,ar,,,,37.33,29.28,82.18
13,mys shmidta,ru,,,,37.33,29.28,82.18
14,hambantota,lk,,,,37.33,29.28,82.18
15,taolanaro,mg,,,,37.33,29.28,82.18
16,marcona,pe,,,,37.33,29.28,82.18
17,newcastle,za,,,,37.33,29.28,82.18
18,boo,se,,,,37.33,29.28,82.18
19,east london,za,,,,37.33,29.28,82.18
20,nizhneyansk,ru,,,,37.33,29.28,82.18
21,eirunepe,br,,,,37.33,29.28,82.18
25,atambua,id,,,,37.33,29.28,82.18
27,wuning,cn,,,,37.33,29.28,82.18
28,xihua,cn,,,,37.33,29.28,82.18
30,upernavik,gl,,,,37.33,29.28,82.18
31,malanville,bj,,,,37.33,29.28,82.18
32,severo-kurilsk,ru,,,,37.33,29.28,82.18
34,ribeira grande,pt,,,,37.33,29.28,82.18
35,garoua,cm,,,,37.33,29.28,82.18
36,nome,us,,,,37.33,29.28,82.18
37,narsaq,gl,,,,37.33,29.28,82.18
39,coquimbo,cl,,,,37.33,29.28,82.18
40,hobart,au,,,,37.33,29.28,82.18
41,yellowknife,ca,,,,37.33,29.28,82.18
43,belushya guba,ru,,,,37.33,29.28,82.18
44,punta arenas,cl,,,,37.33,29.28,82.18
45,nikolskoye,ru,,,,37.33,29.28,82.18
46,katsuura,jp,,,,37.33,29.28,82.18
47,jijiga,et,,,,37.33,29.28,82.18
50,saint george,bm,,,,37.33,29.28,82.18
51,amderma,ru,,,,37.33,29.28,82.18
52,jamestown,sh,,,,37.33,29.28,82.18
53,sol-iletsk,ru,,,,37.33,29.28,82.18
55,san cristobal,ec,,,,37.33,29.28,82.18
56,kasempa,zm,,,,37.33,29.28,82.18
57,jumla,np,,,,37.33,29.28,82.18
58,mataura,pf,,,,37.33,29.28,82.18

In [16]:
Temp = locations_df['Temperature (F)']
Temp

0     37.33
1     37.33
2     37.33
3     37.33
4     37.33
5     37.33
6     37.33
7     37.33
8     37.33
9     37.33
10    37.33
11    37.33
12    37.33
13    37.33
14    37.33
15    37.33
16    37.33
17    37.33
18    37.33
19    37.33
20    37.33
21    37.33
25    37.33
27    37.33
28    37.33
30    37.33
31    37.33
32    37.33
34    37.33
35    37.33
36    37.33
37    37.33
39    37.33
40    37.33
41    37.33
43    37.33
44    37.33
45    37.33
46    37.33
47    37.33
50    37.33
51    37.33
52    37.33
53    37.33
55    37.33
56    37.33
57    37.33
58    37.33
Name: Temperature (F), dtype: float64

In [ ]:
weather_data